{% extends "customerNavbar.html" %}
{% block title %}
Ezyshop
{% endblock %}
{% block content %}
<div class="jumbotron jumbotron-fluid" style="background-color:#eeeeee">
	<div class="container" >
		<div class="row m-0 p-2 pt-3">
			<!-- <div class="col-md-6 col-12 m-auto">
				<img src="{{url_for('static', filename='cart.png')}}" width="80%" >
			</div> -->
			<div class="col-md-6 col-12 m-auto">
                <h1 style="color:#0c0c0c">ORDER SUCCESSFUL</h1>
				<h2 style="color:#0c0c0c">Thank you for trusting Ezyshop!!</h2>
                <!-- <button class="btn btn-primary mt-3" style="font-size: 1.5rem;">Total Amount: ${{ amount }}</button> -->
			</div>

		</div>
	  
	</div>
  </div>
<br>
{% endblock %}